################################################################################
# Desktop (files created by directory browsers, etc)
################################################################################
.directory
.DS_Store

################################################################################
# Javascript
################################################################################
.tscache/
tscommand-*.tmp.txt

node_modules
dist
build
ossindex
lib
coverage

.env.local
.env.development.local
.env.test.local
.env.production.local
.tern-port
.env
.bashrc

*.js.html
junit.xml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.json.gzip

################################################################################
# Test output and related artifacts
################################################################################
target
out
.coverage
cucumber-html-reports/

logs
!logs/README.md

launch.json

*.zip
tmp
ossindex
tsconfig.tsbuildinfo

/.aws-sam/
/.idea/
packaged.yaml
.DS_Store
*.pyc
env-config.json
.settings
.project
